/* google font */
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin&family=Montserrat:wght@500&family=Oswald&family=Poppins:ital,wght@0,100;0,400;1,400&display=swap');
/* set up */
:root{
    /* color-style */
--primary:#fbc257;
--primary:#FCCC73;
--dark-brown:#341413;
--gray-1:#798092;
--gray-2:#E5E6ED;
--white:#FFFFFF;

/* font size desktop */
--header-1:64px;
--header-2:48px;
--header-3:42px;
--header-4:32px;

--text-medium:18px;
--text-regurlar:16px;
--text-light:13px;

/* font weight */
--font-weight-bold:700;
--font-weight-semi-bold:600;
--font-weight-medium:500;
--font-weight-regurlar:400;
--font-weight-light:300;
}

body{
    font-family: 'poppins' sans-serif;
}
/* button primary */
.btn{
    padding:15px 25px;
    border-radius: 6px;
    font-size: var(--text-medium);
    font-weight: var(--font-weight-medium);
    border: none;
}

.btn-primary{
    background-color: var(--primary);
    
}
.btn-primary:focus {
background-color: var(--primary-light);
}
.btn-primary:hover {
    background-color: var(--primary-light)
}

/* button secondary */

.btn-secondary{
 background-color:var(--gray-2);
 color:var(--gray-1);
}
 .btn-secondary:focus{
    background-color: white;
    box-shadow: 0px 4px 19px rgba(0, 0,0, 0.05) !important;
    color: var(--gray-1);
 }

 .btn-secondary:hover{
    background-color: var(--white) !important;
    box-shadow: 0px 4px 19px rgba(0, 0,0, 0.05) !important;
    color: var(--gray-1);
 }

 /* navbar */
 .navbar-brand img{
    padding-right: 16px;
 }

 .navbar-brand span {
    font-size: var(--text-medium);
    font-weight: var(--font-weight-medium);
    color: var(--dark-brown);
 }

 .navbar{
    padding: 48px 0;
 }

 a.navbar-link {
    margin-right: 39px;
    font-size: var(--text-regurlar);
    font-weight: var(--font-weight-regurlar);
    color: var(--dark-brown) !important;
 }
 /* HERO */

 sction.hero{
    margin: 5rem 0;
 }

 .text-label,
 .text-hero-bold,
 .text-hero-regular {
    margin: 24px 0;
 }

 .text-label {
    color: var(--primary);
    font-size: var(--text-regurlar);
    font-weight: var(--font-weight-regurlar);
    line-height: 31px;
 }
  
.text-hero-bold{
    color: var(--dark-brown);
    font-size: var(--header-1);
    font-weight: var(--font-weight-bold);
    line-height:74px;
}

.text-hero-regular{
    color: var(--gray-1);
    font-size: var(--text-regurlar);
    font-weight: var(--font-weight-regurlar);
    line-height: 31px;
}


/* desktop version only */

@media(min-width:1399.98px) {
 .container{
    width:84%;
 }
 
 /* testimonial */
 .testimoni-brand{
    padding: 4rem 5rem;
 }
}
/* mobile version only */

@media(max-width:576px) {

    /* navbar */
    .navbar{
        padding: 28px 0;
    }
 
    a.navbar-link {
        margin-right: 7px 0;
     }

     /* hero */
     section.hero{
        margin: 2rem 0;
        text-align: center;
     }
     .btn{
        display: block;
        margin: 1rem 0;
     }
     .ms-3{
        margin-left: 0 !important;
     }
 .text-label
 .text-hero-bold
 .text-hero-regular{
    text-align: center;
}
.text-hero-bold{
    font-weight: var(--font-weight-bold);
    font-size: var(--header-3);
    line-height: 64px;
}
section.hero img {
    margin: 2rem 0;
}
}

/* teblet small version only */

@media (max-width:768px) {

    /* navbar */
    .navbar{
      padding: 28px 0;
  }

  a.navbar-link {
      margin-right: 7px 0;
   }

   /* hero */
   section.hero{
      margin: 1rem 0;
   }
   .text-hero-bold{
      font-weight: var(--font-weight-bold);
      font-size: var(--header-3);
      line-height: 64px;
  }
  section.hero img {
      margin: 2rem 0;
  }
}

/* teblet medium & large version only */

@media(max-width: 992px) {
     /* navbar */
     .navbar{
      padding: 28px 0;
  }

  a.navbar-link {
      margin-right: 7px 0;
   }

   /* hero */
   section.hero{
      margin: 1rem 0;
   }
   .text-hero-bold{
      font-weight: var(--font-weight-bold);
      font-size: var(--header-3);
      line-height: 64px;
  }
  section.hero img {
      margin: 2rem 0;
  }
}